*{
    margin: 0;
    padding: 0;
}
.form{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form .credenciales{
    width: 280px;
    height: 100px;
    border: 2px solid black;
    border-radius: 25px 0 25px 0;
    padding: 0 10px 0 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}



.form form{
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 0 25px 0 25px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.form img{
    width: 160px;
    margin: 0 auto;
}

.form input{
    height: 30px;
}

.form p {
    color: rgb(220, 9, 9);
}

.form .btn{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin:auto;
    background-color:red;
    color: aliceblue;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.form .buttonTrue {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin:auto;
    background-color:rgb(4, 173, 10);
    color: aliceblue;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}